**/base-sirene.json
**/base-sirene.geojson
**/base-sirene.csv
__pycache__
.idea
/src/ihm/output_ihm/10_clusterized_ihm.html
/src/clusterizer/output/final/50clusters_kmeans_unweighted++.html
/src/clusterizer/output/final/50clusters_kmeans_unweighted.html
/src/clusterizer/output/final/50clusters_kmeans_unweighted_full.html
/src/clusterizer/output/final/50clusters_kmeans_weighted++.html
/src/clusterizer/output/final/50clusters_kmeans_weighted.html
/src/clusterizer/output/final/50clusters_kmeans_weighted_full.html
/src/clusterizer/output/final/150clusters_kmeans_unweighted_full.html
/src/clusterizer/output/final/150clusters_kmeans_weighted_full.html
/tests/gis/fiche/Data3/addresses.cpg
/tests/gis/fiche/Data3/addresses.dbf
/tests/gis/fiche/Data3/addresses.prj
/tests/gis/fiche/Data3/addresses.shp
/tests/gis/fiche/Data3/addresses.shx
/tests/gis/input/base-adresse-75.geojson
/src/clusterizer/output/clusterized.html
/tests/comparison_clustering_algorithms/.ipynb_checkpoints/comparison_clustering_algorithms-checkpoint.ipynb
/src/clusterizer/output/DBSCAN.html
/geoenv.yml
/tests/gis/fiche/Data3/interactive_plot.html
/src/clusterizer/output/meanshift.html
/tests/gis/fiche/Data3/metro.dbf
/tests/gis/fiche/Data3/metro.prj
/tests/gis/fiche/Data3/metro.sbn
/tests/gis/fiche/Data3/metro.sbx
/tests/gis/fiche/Data3/metro.shp
/tests/gis/fiche/Data3/metro.shx
/tests/gis/fiche/Data3/roads.dbf
/tests/gis/fiche/Data3/roads.prj
/tests/gis/fiche/Data3/roads.sbn
/tests/gis/fiche/Data3/roads.sbx
/tests/gis/fiche/Data3/roads.shp
/tests/gis/fiche/Data3/roads.shx
/tests/gis/fiche/Data3/some.geojson
/src/clusterizer/output/spectralclustering.html
/tests/gis/fiche/Data3/static_map.png
/src/clusterizer/output/final/test.html
/src/clusterizer/output/test/test_hierarchical.html
/tests/gis/fiche/Data3/TravelTimes_to_5975375_RailwayStation.cpg
/tests/gis/fiche/Data3/TravelTimes_to_5975375_RailwayStation.dbf
/tests/gis/fiche/Data3/TravelTimes_to_5975375_RailwayStation.prj
/tests/gis/fiche/Data3/TravelTimes_to_5975375_RailwayStation.shp
/tests/gis/fiche/Data3/TravelTimes_to_5975375_RailwayStation.shx
/tests/gis/fiche/Data3/Vaestotietoruudukko_2015.dbf
/tests/gis/fiche/Data3/Vaestotietoruudukko_2015.prj
/tests/gis/fiche/Data3/Vaestotietoruudukko_2015.shp
/tests/gis/fiche/Data3/Vaestotietoruudukko_2015.shx
/src/clusterizer/output/wclusterized.html

data/hydrographie-surfacique-idf.zip
data/iris.zip
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/UE22-projet-ecosysteme-logistique.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/**
